.table-column{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
    width: 50%;
}

.live-ticker-table{
    display: flex; 
    flex-wrap: wrap; 
    width: 100%; 
    justify-content: flex-end; 
    margin-top: auto; 
}

.live-ticker-container{
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    border: 2px solid rgb(2, 2, 148);
    box-lines: none; 
    border-top-style: none;
    border-bottom-style: none; 
    padding: 10px 0px; 
    line-height: 1.1px; 
    max-width: 350px; 
    min-width: 300px; 
    color:#A7A1AE;
    background-color:#1F2739;
    
}

.stock-header{
    display: flex; 
    flex-wrap: wrap; 
    width: 100%; 
    margin-left: 6%; 
    text-decoration: underline; 
}

.table-column p{
    margin-left: 12%; 
}

hr{
    width: 88%; 
    transform: translate(0px, 14px); 
    border-color:  rgb(2, 2, 148);
}
/*h3{
    position: absolute; 
    background-image: linear-gradient(top, white 48%,  #1F2739 62%); 
    margin-top: -21px;
    padding: 5px; 
    margin-left: 1%; 
    color: rgb(5, 5, 206);     
    font-weight: 800; 
}*/