.input1 {
    display: flex;
    text-align: right;
    width: 100px;
    height: 20px;
    background-color: rgb(231, 229, 248);
    border-radius: 5px;
    border: 1px solid black;
}

.inputContainer {
    display: flex;
    flex-direction: row;
}

.inputLeft {
    display: flex;
    flex-direction: column;
 }

.inputRight {
    display: flex;
    flex-direction: column;
}

.bigContainer {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    height: 40px;

}

.results {
    display: flex;
    flex-direction: row;
  
}

.input2 { 
    text-align: right;
    width: 100px;
    height: 20px;
    background-color: rgb(211, 209, 231);
    border-radius: 5px;
    border: 1px solid black;
}