@font-face {
    font-family: 'MADEEvolveSansRegular';
    font-weight: normal;
    font-style: normal;
    src: local('MADEEvolveSansRegular'), url('./MADE\ Evolve\ Sans\ Medium\ EVO\ \(PERSONAL\ USE\).otf') format('opentype');
}